# Service definition for Systemd.

[Unit]
Description=Ambient Messaging Server
After=network.target

[Service]
Environment="AM_MQTT_HOST=broker.hivemq.com"
ExecStart=python3 -m ambientmessage.server
WorkingDirectory=/opt/ambient-messaging/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
